/* Header styles */
.header {
  padding: 15px 0;
}

.header-navbar {
  gap: 40px;
}

.header-navbar__items {
  gap: 32px;
}

/* Hero styles */
.hero {
  margin-top: 100px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-template-columns: repeat(auto-fill);
  gap: 45px;
}

.hero-info__title {
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.03em;
}

.hero-info__subtitle {
  margin-top: 25px;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 30px;
}

.hero-banner {
  position: relative;
}

.hero-banner img {
  display: block;
  width: 100%;
}

.hero-banner__bg {
  display: block;
  background: #f58a07;
  mix-blend-mode: multiply;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.circle {
  display: inline-block;
  max-width: 25%;
  height: 20%;
  position: absolute;
  right: -10%;
  bottom: -7%;
}

/* Startub styles */
.startup {
  margin-top: 120px;
}

.startup-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 72px;
  align-items: center;
}

.startup-info__title {
  font-size: 36px;
  line-height: 44px;
}

.startup-info__subtitle {
  font-size: 18px;
  line-height: 30px;
  color: #1d3444;
}

.startup-cards {
  margin-top: 65px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 60px;
}

.startup-cards__1 {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 60px;
}

.startup-cards__2 {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 60px;
}

.startup-card__number {
  font-size: 36px;
}

.startup-card__title {
  font-size: 24px;
}

.startup-card__info {
  margin-top: 15px;
  line-height: 28px;
}

/* Global styles */
.global {
  margin-top: 120px;
  column-gap: 78px;
}

.global-info__title {
  font-size: 48px;
  letter-spacing: -0.03em;
  line-height: 56px;
}

.global-info__subtitle {
  margin-top: 30px;
  font-size: 18px;
  line-height: 30px;
}

.global-banner {
  width: 100%;
  position: relative;
}

.global-banner-item {
  width: 45%;
  height: 40%;
  background-color: #f58a07;
  mix-blend-mode: multiply;
  position: absolute;
  bottom: -1%;
  right: -3%;
  border-radius: 20px;
}

/* Work styles */
.work {
  margin-top: 125px;
  transition: 0.3s;
}

.work-title {
  width: 45%;
  font-size: 48px;
  line-height: 56px;
}

.work-subtitle {
  margin-top: 25px;
  width: 60%;
  font-size: 18px;
  line-height: 30px;
}

.work-cards__items {
  margin-top: 64px;
  grid-template-columns: auto auto;
  column-gap: 40px;
}

.work-cards {
  grid-template-columns: auto auto;
  column-gap: 40px;
}

.work-card {
  cursor: pointer;
}

.work-card img {
  width: 100%;
  height: 100%;
}

.last-card {
  position: relative;
}

.last-card:hover .name {
  display: block;
}

.name {
  display: none;
  padding: 35px 30px;
  background-color: #252525d2;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.name-subtitle {
  font-size: 14px;
}

.name-title {
  font-size: 24px;
}

.name-info {
  font-size: 14px;
}

/* With styles */
.with {
  margin-top: 150px;
  gap: 110px;
}

.with-info__title {
  font-size: 48px;
  letter-spacing: -0.03em;
  line-height: 56px;
}

.with-info__subtitle {
  margin-top: 25px;
  font-size: 18px;
  line-height: 30px;
}

.with-user {
  margin-top: 40px;
  gap: 24px;
}

.with-user__info-name {
  font-size: 24px;
}

.with-user__info-work {
  font-size: 18px;
}

.with-banner {
  position: relative;
}

.play-icon {
  gap: 15px;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.play-icon__item {
  width: 51px;
  height: 51px;
  text-align: center;
  line-height: 53px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.play-icon__item img {
  width: 25%;
}

.play-icon__item:hover {
  background: rgb(204, 203, 203);
}

@media (max-width: 1300px) {
  .mx-w {
    padding: 0 15px;
  }
}

@media (max-width: 1200px) {
  /* Hero */
  .hero-info__title {
    font-size: 45px;
    line-height: 60px;
  }

  /* Global */
  .global-info__title {
    font-size: 45px;
    line-height: 60px;
  }

  .global-banner img {
    width: 100%;
  }

  /* With */
  .with-banner img {
    width: 100%;
  }

  .with {
    padding: 0 150px;
    grid-template-columns: repeat(1, 2fr);
  }

  .with-info__title {
    font-size: 45px;
    line-height: 60px;
  }
}

@media (max-width: 992px) {
  /* Header */
  .header-navbar__items {
    display: none;
  }

  .hamburger-icon {
    display: flex;
  }

  /* Hero */
  .hero {
    padding: 0 50px;
    grid-template-columns: repeat(1, 2fr);
  }

  .hero-info__title {
    width: 80%;
    margin: 0 auto;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
  }

  .hero-info__subtitle {
    width: 80%;
    margin: 20px auto;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
  }

  .hero-info__btn {
    text-align: center;
  }

  .hero-banner {
    margin: 0 auto;
    margin-top: 25px;
    width: 70%;
  }

  /* Startup */
  .startup-info {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    grid-template-columns: repeat(1, 2fr);
    gap: 30px;
  }

  .startup-cards {
    width: 70%;
    margin: 50px auto;
    grid-template-columns: repeat(1, 2fr);
    row-gap: 50px;
  }

  /* Global */
  .global {
    text-align: center;
    grid-template-columns: repeat(1, 2fr);
  }

  .global-info__title {
    width: 80%;
    margin: 0 auto;
    font-size: 32px;
    line-height: 45px;
  }

  .global-info__subtitle {
    width: 80%;
    margin: 20px auto;
    font-size: 16px;
    line-height: 27px;
  }

  .global-banner {
    margin: 0 auto;
    margin-top: 25px;
    width: 70%;
  }

  /* Work */
  .work-title {
    width: 55%;
    margin: 0 auto;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
  }

  .work-subtitle {
    width: 80%;
    margin: 20px auto;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
  }

  .work-cards__items {
    width: 70%;
    margin: 50px auto;
    row-gap: 40px;
    grid-template-columns: repeat(1, 2fr);
  }

  /* With */
  .with {
    padding: 0 100px;
    row-gap: 30px;
  }

  .with-info__title {
    font-size: 32px;
    line-height: 45px;
  }

  .with-info__subtitle {
    font-size: 16px;
    margin-top: 20px;
    line-height: 27px;
  }

  .with-user {
    margin-top: 20px;
  }

  .with-user__info-name {
    font-size: 18px;
  }

  .with-user__info-work {
    font-size: 14px;
  }

  .play-icon__item img {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .btn2 {
    padding: 10px 20px;
    font-size: 16px;
  }

  /* Hero */
  .hero {
    padding: 0;
  }

  .hero-info__title {
    font-size: 28px;
  }

  .hero-info__btn {
    font-size: 14px;
  }

  /* Startub */
  .startup-info__title {
    font-size: 28px;
    line-height: 32px;
  }

  .startup-card__number {
    font-size: 24px;
  }

  .startup-card__title {
    font-size: 18px;
  }

  .startup-card__info {
    font-size: 14px;
    line-height: 27px;
  }

  /* Global */
  .global {
    padding: 0;
  }

  .global-info__title {
    font-size: 28px;
    line-height: 32px;
  }
  /* Work */
  .work {
    padding: 0;
  }

  .work-title {
    font-size: 28px;
    line-height: 32px;
  }

  .work-cards__items {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  /* With */
  .with {
    padding: 0 50px;
  }

  .with-info__title {
    font-size: 28px;
    line-height: 32px;
  }
}

@media (max-width: 576px) {
  /* Hero */
  .hero-info__title {
    width: 100%;
    font-size: 22px;
    line-height: 33px;
  }

  .hero-info__subtitle {
    width: 100%;
    font-size: 14px;
  }

  /* Startub */
  .startup-info {
    width: 100%;
  }

  .startup-info__title {
    font-size: 22px;
  }

  .startup-info__sub-title {
    font-size: 14px;
  }

  .startup-cards {
    row-gap: 10px;
    text-align: center;
  }

  .startup-cards__1 {
    grid-template-columns: repeat(1, 2fr);
    row-gap: 10px;
  }

  .startup-cards__2 {
    grid-template-columns: repeat(1, 2fr);
    row-gap: 10px;
  }

  .startup-card__info {
    width: 80%;
    margin: 10px auto;
  }

  /* Global */
  .global {
    margin-top: 50px;
  }

  .global-info__title {
    font-size: 22px;
    width: 95%;
  }

  .global-info__subtitle {
    font-size: 14px;
    width: 95%;
  }

  /* Work */
  .work-title {
    width: 65%;
    font-size: 22px;
  }

  .work-subtitle {
    font-size: 14px;
    width: 100%;
  }

  .work-cards__items {
    row-gap: 20px;
  }

  .name {
    padding: 20px 10px;
  }

  .name-title {
    font-size: 16px;
  }

  .name-subtitle {
    font-size: 12px;
  }

  .name-info {
    font-size: 12px;
  }

  .with-info__title {
    font-size: 22px;
  }

  .with-info__subtitle {
    font-size: 14px;
  }

  /* With */
  /* .play-icon {
    bottom: 5%;
    left: 5%;
  } */

  .play-video {
    font-size: 14px;
  }

  .play-icon__item {
    width: 41px;
    height: 41px;
    line-height: 43px;
  }
}

@media (max-width: 478px) {
  .btn {
    width: 80%;
    margin: 0 auto;
    display: block;
    padding: 10px;
  }

  .btn2 {
    display: none;
  }

  /* Hero */
  .hero {
    margin-top: 50px;
  }

  .hero-banner__bg {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

  /* Startup */
  .startup-card__info {
    width: 100%;
  }

  /* Work */
  .work-cards__items {
    padding: 10px;
    width: 90%;
  }

  .work-cards {
    grid-template-columns: repeat(1, 2fr);
    row-gap: 20px;
  }

  .name {
    display: block;
  }

  /* With */
  .with {
    padding: 0 20px;
  }
}
